<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Milionerzy</title>
    <link rel="stylesheet" href="css/reset.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<h1>Milionerzy</h1>

    <div id="contentWrapper" class="columns">
        <div id="userInfo">Witaj {{ username }}! (<a href="index.php?action=logout" class="logout" >wyloguj</a>)</div>
        <div id="mainWindow" class="contentBorder column">
            <div class="question">{{ question.getQuestion() }}</div>
            <ul class="answers">
                {% for answer in question.getAnswers() %}
<!--                <li class="{{ answer.isCorrect() ? 'correctAnswer' : 'incorrectAnswer' }}">{{ answer.getText() }}</li>-->
                <li>{{ answer.getText() }}</li>
                {% endfor %}

<!--                <li><span>A</span>Lorem ipsum dolor</li>
                <li class="selected"><span>B</span>Lorem ipsum dolor</li>
                <li class="correctAnswer"><span>C</span>Lorem ipsum dolor</li>
                <li class="incorrectAnswer"><span>D</span>Lorem ipsum dolor</li>-->
            </ul>
        </div>
        <div id="winPrizeWindow" class="column">
            <ul class="lifebuoy">
                <li>50/50</li>
                <li>Tel. do przyjaciela</li>
                <li>Tel. do experta</li>
                <li>Wymiana pytania</li>
            </ul>
            <ul class="winPrizes">
                <li><span>15</span>1 000 000zł</li>
                <li><span>14</span>500 000zł</li>
                <li><span>13</span>250 000zł</li>
                <li><span>12</span>125 000zł</li>
                <li><span>11</span>64 000zł</li>
                <li class="guarantee"><span>10</span>32 000zł</li>
                <li><span>9</span>16 000zł</li>
                <li><span>8</span>8000zł</li>
                <li class="actual"><span>7</span>4000zł</li>
                <li><span>6</span>2000zł</li>
                <li class="guarantee"><span>5</span>1000zł</li>
                <li><span>4</span>500zł</li>
                <li><span>3</span>300zł</li>
                <li><span>2</span>200zł</li>
                <li><span>1</span>100zł</li>
            </ul>
        </div>
</div>
</body>
</html>