<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Milionerzy</title>
    <link rel="stylesheet" href="css/reset.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<h1>Milionerzy</h1>

<div id="contentWrapper">

    <div id="userInfo">Witaj {{ username }}! (<a href="index.php?action=logout" class="logout" >wyloguj</a>)</div>
    <div class="contentBorder wide">
        <h3>Na początek kilka zasad:</h3>
        <ul class="rules">
            <li>zasada 1</li>
            <li>zasada 2</li>
            <li>zasada 3</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempus laoreet elit, in vulputate lorem tincidunt eget. Ut sit amet iaculis magna. Donec hendrerit faucibus lectus, sed suscipit purus finibus in. Aenean ut risus at odio aliquet tristique quis id felis. Quisque porttitor sapien ut leo posuere porta cursus vitae diam. Sed sit amet sodales eros, et faucibus lectus. Mauris eget nisl ut odio tincidunt vestibulum scelerisque a dui. Mauris scelerisque libero non velit sollicitudin, sit amet condimentum metus faucibus. Sed luctus urna sed ligula vulputate, quis sodales dui gravida. Suspendisse pellentesque, augue sit amet bibendum elementum, erat metus iaculis urna, a rutrum mi lorem vel magna. Duis in accumsan nulla. Duis eu elit rhoncus, scelerisque justo sed, facilisis.</p>
        <button class="stdBtn"><a href="index.php?action=game">START</a></button>
    </div>
</div>
</body>
</html>